@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to App Lab Systems</h1>
    <p class="lead"> </p>
    <div>
        <img src="~/Content/applabs service.png" />
        <img src="~/Content/Images/applablogo2.jpg" />

    </div>
    

    <p><a href="http://applabsystems.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>

            information technology consulting We are passionate about providing new and innovative technology solutions and staffing solutions to our clients, to assist them in delivering their long-term business goals.

            These solutions are tailored to assist our clients in delivering informed decisions through analysis of their corporate information.
        </p>
        <p><a class="btn btn-default" href="http://applabsystems.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>We provide creative, cost-effective, and practical talent solutions for private and public sector entities in need of technical expertise. We consistently provide competent, reliable professionals services and comprehensive solutions to do a good job and make your life easier.</p>
        <p><a class="btn btn-default" href="http://applabsystems.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Values</h2>
        <p> We embrace the highest moral, business, and personal standards of honesty, trust, loyalty, and integrity in all aspects of its operation.</p>
        <p><a class="btn btn-default" href="http://applabsystems.com/">Learn more &raquo;</a></p>
    </div>
</div>